<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Group 2 Winos</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Leaflet CSS-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>  
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <!--  Jumbotron-->
    
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center"> 
        <h1>Predicting Wine Quality</h1>
      </div>
    </div>

    <!-- First row text -->
    <div class="row">
      <div class="col-md-12"> 
        <p style="color:white;font-size:18px;">Welcome to this dashboard where my team and I explored if there is a relationship between quality of wine and environmental variables such as 
          geography, temperature and precipitation.  Based on our analysis, there is no relationship. The R2 value for the Multiple Linear Regression 
          model we used is about 33%, which indicates the model isn’t a good fit as can be seen in the charts for Predicted v Actual Ratings by Province 
          and Wine Ratings by Region.  The Wine Ratings by Region chart is interactive so that a single province can be viewed at one time instead of 
          all provinces at once.  The interactive map shows average temperature, precipitation and pricing for each province analyzed.  Finally, the Wine 
          Rating area is also interactive.  Feel free to change province, variety of wine, price, temperature and precipitation and then click the “Predict”
           button to see what wine rating is produced using our model; however, considering the inaccuracy of our model, don’t rely on it as valuable 
          information on which to base wine purchases.  We feel the model would be improved with different data such as production levels, quality of grapes, types of grapes, 
          and quality of soil.</p>
      </div>
    </div>
    

    <!--  First body row-->
    <div class="row">
      <div class="col-md-4">  <br>
        <!-- <h3 style="color:white">Interactive Window for Predicting Wine Quality</h3> -->
        <div class="well">
          <h4>Enter Values to Predict Wine Quality</h4><br>
          <!-- <label for="province">Province </label>-->
          <!--<input type="text" name="province" placeholder="Alsace" style="width:175px;"> </input><br>-->
          <form>
            <label>Province</label>
              <select class="MLData" id="provops">
            </select>
          </form>
          <!-- <label for="variety">Variety </label>-->
          <!-- <input type="text" name="variety" placeholder="Pinot Noir" style="width:189px;"> </input><br>-->
          <form>
            <label>Variety</label>
              <select class="MLData" id="vrtyops">
            </select>
          </form>
          
          <label for="price">Price ($) </label>
          <input class="MLData" type="number" name="price" placeholder="15" style="width:179px;"> </input><br>
          <label for="temp">Temperature (C) </label>
          <input class="MLData" type="number" name="temp" placeholder="10" style="width:128px;"> </input><br>
          <label for="precip">Precipitation (mm) </label>
          <input class="MLData" type="number" name="precip" placeholder="1500" style="width:112px;"> </input><br><br>
          <label for="predict">Predicted Wine Rating </label>

          <div id="result"></div>
          <a class="btn btn-primary btn-md" role="button">Predict</a>
          <a class="btn btn-primary btn-bk" href="/reset" role="button">Reset</a><br><br>
        </div>
      </div>
      
      <div class="col-md-4"> <br>
        <img src="static/images/Predicted_v_Actual Points.png" width="800" align="center">         
      </div>
      </div>
    </div>
    <!-- Second body row -->
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <h3 style="color:white" align="center">Click the Dropdown Menu to Select an Individual Province</h3>
        <div id="Plot">
          <iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" align="center" src="https://kylejohnsonks.github.io/Points_Region/PointsByRegion.html" height="515" width="925"></iframe>
        </div>
      </div>
    </div>

    <!-- Third body row -->
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <h3 style="color:white" align="center">Click the Locators for More Information about That Location</h3>
        <div id="mapid" align="center" width="750"></div>  
      </div>
    </div> 
  

  <!-- Leaflet's script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="static/js/config.js"></script>
  <script src="static/js/app.js"></script>
  <script src="static/js/map.js"></script>
  

</body>

</html>